<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bienvenidos a House of Pizza, tu lugar ideal para disfrutar las mejores pizzas artesanales.">
    <title>House of Pizza</title>
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="icon" href="../assets/Logo.png" type="image/png">
</head>

<body class="productos">
    <div class="contenedor-principal">
            <!-- Encabezado con logo y menú -->
        <header>
            <nav class="nav_header">    
                <img src="../assets/logo_P.png" alt="Logotipo de la empresa" width="500" height="500" class="logo">
                <p class="empresa">House of Pizza</p>
                <ul class="menu">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./productos.html" class="activo">Galería</a></li>
                    <li><a href="./presupuesto.html">Presupuesto</a></li>
                    <li><a href="./contactos.html">Contacto</a></li>
                 </ul>
            </nav>
        </header>

        <main class="prod1">
            <div class="item-a">
                <a href="../assets/galeria/img4.jpeg" data-lightbox="gallery" data-title="Pizza clásica">
                    <img src="../assets/galeria/img4.jpeg" alt="Pizza Napolitana" width="259" height="194" 
                    class="img">
                </a>
            </div>
            <div class="item-g">
                <a href="../assets/galeria/img2.jpg" data-lightbox="gallery" data-title="Pizza clásica">
                    <img src="../assets/galeria/img2.jpg" alt="Pizza de Champiñones y cherry" width="900" height="500" class="img">
                    <img src="../assets/galeria/img2.jpg" alt="izza de Champiñones y cherry" width="900" height="500" class="img">
                </a>
            </div>
            <div class="item-b">
                <a href="../assets/galeria/img1.jpg" data-lightbox="gallery" data-title="Pizza clásica">
                    <img src="../assets/galeria/img1.jpg" alt="Pizza Diabola" width="612" height="408" class="img">
                    <img src="../assets/galeria/img1.jpg" alt="Pizza Diabola" width="612" height="408" class="img">
                </a>
            </div>
            <div class="item-e">
                <a href="../assets/galeria/img5.jpg" data-lightbox="gallery" data-title="Pizza clásica">
                    <img src="../assets/galeria/img5.jpg" alt="Pizza" width="1000" height="702" 
                    class="img">
                </a>
            </div>
            <div class="item-c">
                <a href="../assets/galeria/img6.jpg" data-lightbox="gallery" data-title="Pizza clásica">
                    <img src="../assets/galeria/img6.jpg" alt="Pizza focaccia blanca"  width="1280" height="720"
                    class="img">
                </a>
            </div>
            <div class="item-h">
                <a href="../assets/galeria/img10.jpeg" data-lightbox="gallery" data-title="Pizza clásica">
                    <img src="../assets/galeria/img10.jpeg" alt="Pan con Porceta" width="294" height="171" 
                    class="img">
                </a>
            </div>
            <div class="item-i">
                <a href="../assets/galeria/img11.jpg" data-lightbox="gallery" data-title="Pizza clásica">
                    <img src="../assets/galeria/img11.jpg" alt="Pan con Porcetta" width="1200" height="1200" 
                    class="img">
                </a>
            </div>
            <div class="item-d">
                <a href="../assets/galeria/img12.jpg" data-lightbox="gallery" data-title="Pizza clásica">
                    <img src="../assets/galeria/img12.jpg" alt="Porcetta" width="1200" height="1800"
                    class="img">
                </a>
            </div>
            <div class="item-f">
                <a href="../assets/galeria/img14.jpg" data-lightbox="gallery" data-title="Pizza clásica">
                    <img src="../assets/galeria/img14.jpg" alt="Pizza clásica" width="1024" height="600"
                    class="img">
                </a>
            </div>
            
            
        </main>
        

        <!-- Pie de página -->
        <footer>
            <div class="redes-sociales">
                <a href="https://facebook.com"><img src="../assets/redes_sociales/Logo_de_Facebook.png" alt="Facebook" width="1200" height="1202"></a>
                <a href="https://twitter.com"><img src="../assets/redes_sociales/twitter.png" alt="Twitter" width="900" height="900"></a>
                <a href="https://instagram.com"><img src="../assets/redes_sociales/images.jpeg" alt="Instagram" width="225" height="225"></a>
            </div>
            <p>
                Calle Principal #123, Ciudad, País | 
                <a href="./aviso_legal.html">Aviso Legal</a>
            </p>
        </footer>
    </div>
</body>
</html>